.container{
    position: fixed;
    display: flex;
    margin-left: 200px;
    width: 84%;
    height: 100vh;
}

.container form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.container form .header_form{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    font-size: 2.5em;
    font-weight: bold;
    color: #4fb0ff;
}

.container form .body_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70%;
}

.container form .body_form .image_area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 50%;
}

.container form .body_form .image_area .image_input{
    width: 100%;
    height: 80%;
    border: 1px solid #b9b9b9;
    border-radius: 40px;
}

.container form .body_form .image_area .image_input img{
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.container form .body_form .image_area .upload_file::-webkit-file-upload-button {
    visibility: hidden;
}

.container form .body_form .image_area .upload_file::before {
    content: 'Select your realisation image';
    outline: none;
    white-space: nowrap;
    background-color: #4fb0ff;
    -webkit-user-select: none;
    cursor: pointer;
    color: #fff;
    font-size: 10pt;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
}

.container form .body_form .image_area .upload_file:hover::before{
    background-color:  #4188c2;
}

.container form .body_form .textfield_area{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    height: 50%;
    align-items: center;
}

.container form .body_form .textfield_area .input_text{
    width: 70%;
    outline: none;
    border: none;
    border-bottom: 1px solid #4fb0ff;
    font-size: 15px;
}

.container form .footer_form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
}

.container form .footer_form button{
    border: none;
    background-color: #4fb0ff;
    width: 25%;
    height: 80%;
    color: #fff;
    font-size: 20px;
    border-radius: 15px;
}

.container form .footer_form button:hover{
    background-color: #4188c2;
}